:root {
  font-family: Commissioner, sans-serif;
  line-height: 1.5;
  font-weight: var(--font-bold-400);
  scroll-behavior: smooth;

  --cyan-clr: hsl(176, 50%, 47%);
  --dark-cyan-clr: hsl(176, 72%, 28%);
  --black-clr: hsl(0, 0%, 0%);
  --white-clr: hsl(0, 0%, 100%);
  --dark-gray-clr: hsl(0, 0%, 48%);

  --font-bold-400: 400;
  --font-bold-500: 500;
  --font-bold-700: 700;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  min-width: 320px;
  min-height: 100vh;
}

h2 {
  margin: 0;
  color: var(--black-clr);
  font-weight: var(--font-bold-700);
}

p {
  color: var(--dark-gray-clr);
}

.cf-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
}

.cf-items {
  top: -6em;
  position: relative;
  margin: 0 1em;

  display: flex;
  flex-direction: column;
  gap: 2em;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1em;

  padding: 2em;
  border-radius: 1em;
  background-color: var(--white-clr);
}

/* Hero CSS */
.hero-container {
  margin-top: 4em;
  height: 40vh;

  background-image: url("/src/assets/images/image-hero-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-image {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Mobile Navigation */
.nav-header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 320px;
  padding: 1em;
  width: 100%;
  z-index: 39;
  background-color: var(--dark-cyan-clr);
}

.nav-header h2 {
  color: var(--white-clr);
}

.mobile-nav-toggle {
  position: fixed;
  right: 2em;
  cursor: pointer;
  height: 24px;
  width: 24px;
  z-index: 10;
}

.nav-list {
  position: fixed;
  top: 0;
  left: 1em;
  right: 1em;
  margin: 1em;
  padding: 0;

  list-style: none;
  border-radius: 1em;
  height: 250px;
  font-weight: var(--font-bold-700);
  color: var(--black-clr);
  background-color: var(--white-clr);
  border: 5px solid var(--dark-cyan-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;

  transform: translateY(-120%);
  transition: transform 500ms ease-in-out;
}

.nav-list[data-visible="true"] {
  transform: translateY(25%);
}

.nav-item {
  padding: 0.5em 1em;
  border-bottom: 2px solid var(--dark-cyan-clr);
  cursor: pointer;
}

/* Intro CSS */
.product-icon {
  position: absolute;
  top: -1em;
}

.product-title {
  margin-top: 1em;
}

.product-name {
  margin: 0;
  padding-top: 2em;
}

.product-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.back-btn {
  outline: none;
  border-style: none;
  border-radius: 3em;
  height: 48px;
  width: 200px;
  color: var(--white-clr);
  font-weight: var(--font-bold-700);
  background-color: var(--cyan-clr);
  cursor: pointer;
}

.back-btn:hover {
  background-color: var(--dark-cyan-clr);
}

.bookmark-img {
  height: 48px;
  cursor: pointer;
}

.bookmark-title {
  display: none;
}

/* Back Pledge CSS */
.back-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  padding-top: 120px;
  height: 100%;
  background-color: hsl(0, 0%, 0%, 0.7);
  z-index: 20;
}

.back-pledge {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 1em;
  padding: 1.5em;
  margin: 1em;
  z-index: 50;
}

.back-close {
  position: absolute;
  cursor: pointer;
  margin-top: 10px;
  right: 55px;
  transform: scale(1.5);
}

.back-items {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.back-header {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.pledge-item input[type="radio"] {
  cursor: pointer;
  transform: scale(1.2);
}

.pledge-item label {
  margin-left: 10px;
  color: var(--black-clr);
  font-weight: var(--font-bold-700);
}

.pledge-amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  border-top: 2px solid var(--dark-gray-clr);
}

.pledge-amount input[type="number"] {
  text-align: center;
  border-radius: 2em;
  font-size: 1.1rem;
  height: 40px;
  width: 50%;
  font-weight: var(--font-bold-700);
  border-color: var(--dark-cyan-clr);
}

.pledge-form {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.pledge-form p {
  font-weight: var(--font-bold-700);
  position: absolute;
  left: 5%;
}

/* Progress CSS */
.data-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.data-item h2 {
  color: var(--cyan-clr);
}

.data-item p {
  margin: 0;
}

.data-list hr {
  margin: 1.5em;
  height: 2px;
  width: 100px;
  border-style: none;
  background-color: var(--dark-gray-clr);
}

.progress-bar {
  position: relative;
  width: 100%;
  margin: 1em 0;
}

.progress {
  position: absolute;
  content: "";
  height: 15px;
  border-radius: 1em;
}

.current {
  background-color: var(--cyan-clr);
  z-index: 2;
}

.total {
  width: 100%;
  background-color: var(--dark-gray-clr);
}

/* About CSS */
.about-section {
  text-align: left;
}

.pledge-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1em;
}

.pledge-item {
  border-radius: 1em;
  border: 2px solid var(--dark-gray-clr);
  padding: 1em 2em;
}

.pledge-name {
  font-weight: var(--font-bold-700);
  color: var(--black-clr);
}

.pledge-cost {
  color: var(--cyan-clr);
  font-weight: var(--font-bold-500);
}

.pledge-item h2 {
  color: var(--dark-gray-clr);
  font-size: 1.2rem;
}

.pledge-item strong {
  color: var(--black-clr);
  font-size: 1.5rem;
  margin-right: 10px;
}

.btn {
  margin: 1em 0;
  border-style: none;
  border-radius: 2em;
  color: var(--white-clr);
  background-color: var(--cyan-clr);
  font-weight: var(--font-bold-700);
  height: 50px;
  width: 150px;
  cursor: pointer;
}

.pledgeable:hover {
  background-color: var(--dark-cyan-clr);
}

.disabled {
  background-color: var(--dark-gray-clr);
  cursor: initial;
}

.disabled {
  background-color: var(--dark-gray-clr);
  cursor: initial;
}

.out-of-stock {
  filter: grayscale(100%);
}

@media screen and (min-width: 728px) {
  .cf-container {
    align-items: center;
  }

  .cf-items {
    top: -7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
  }

  .hero-container {
    background-image: url("/src/assets/images/image-hero-desktop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin-top: 4em;
    width: 100%;
    height: 50vh;
  }

  /* Navigation CSS */
  .nav-header {
    justify-content: center;
    gap: 40%;
    width: 100%;
    padding: 0.5em 1em;
  }

  .mobile-nav-toggle {
    display: none;
  }

  .nav-list {
    display: flex;
    position: initial;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 0;
    color: var(--white-clr);

    width: 100%;
    background-color: initial;
    transform: none;
    height: initial;
  }

  .nav-list[data-visible="true"] {
    transform: none;
  }

  .nav-item {
    border-bottom: none;
  }

  /* Intro CSS */
  .product-group {
    justify-content: space-between;
  }

  .bookmark-title {
    color: var(--dark-gray-clr);
    font-weight: var(--font-bold-700);
    display: block;
  }

  .bookmark-items {
    background-color: #fafafa;
    padding-right: 1.5em;
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  /* Back Pledge CSS */
  .back-container {
    width: 100%;
  }

  .back-pledge {
    max-width: 900px;
  }

  .back-close {
    right: 100px;
  }

  .pledge-item {
    position: relative;
  }

  .pledge-cost {
    position: absolute;
    top: 0;
    right: 2em;
  }

  .pledge-btn {
    position: absolute;
    bottom: 0;
    right: 2em;
  }

  /* Progress Bar */
  .data-list {
    flex-direction: row;
  }

  .data-list hr {
    margin: 0 2em;
    width: 2px;
    height: 70px;
  }
}
